:root {
  --primary-color: white;
  --secondary-color: #;
  --primary-font: roboto;
}

body {
  background-color: black;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}
H1,
h3 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
}

.bg_black {
  color: black;
}

.footer_links {
  background-color: brown;
  padding: 50px;
}

.logo_size {
  max-width: 100px;
}
